/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
    position: sticky;
}

.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Jumbotron */
.jumbotron {
    background-image: url("img/graduated.jpg");
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));  
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 100;
    font-family: 'Sansita Swashed';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight:bold;
}

.info-panel {
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
   border-radius: 12px;
   margin-top: -100px;
   background-color: white;
   padding : 30px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
 font-size: 14px;
 color: #acacac;
 margin-top: -5px;
 font-weight: 200;
}

.workingspace {
    margin-top: 120px;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 20px 0;
}
h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #db584e;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) ;
    }
    
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        margin-top: -75px ;
        height: 640px;
    }
    .jumbotron .display-4 {
        font-size: 62px;
    }
    .workingspace {
        text-align: left;
    }
  }